.download-page {
  margin-bottom: 1rem;

  .video-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
  
    .left {
      margin-right: 20px;
    }
  
    .middle {
      flex: 1;
  
      h4 {
        font-weight: 500;
        margin: 5px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      p {
        margin: 5px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  
    .right {
      margin-left: 20px;
    }
  }
}
