<div class="download-page">
  <div class="video-item">
    <div class="left">
      <mat-icon mat-list-icon>music_video</mat-icon>
    </div>
    <div class="middle">
      <h4 mat-line>{{video.url}}</h4>
      <p mat-line> {{video.directory}} </p>
    </div>
    <div class="right">
      <ng-container *ngIf="!downloading">

        <ng-container *ngIf="!video.hasDownloaded; else downloadedTemplate">
          <button (click)="downlaod(video.url, video.directory)" mat-icon-button color="primary">
            <mat-icon mat-list-icon>cloud_download</mat-icon>
          </button>
          <button (click)="remove()" mat-icon-button color="warn">
            <mat-icon mat-list-icon>close</mat-icon>
          </button>
        </ng-container>

        <ng-template #downloadedTemplate>
          <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="downloading">
        <div>
          <span>{{downloadedPercentage.toFixed(0)}} %</span>
          <small-spinner></small-spinner>
        </div>
      </ng-container>

    </div>
  </div>
  <mat-divider></mat-divider>
</div>
