.add-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.no-data {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 50%;
    height: auto;
  }
}

.vidos {
  padding: 2rem;
}